<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.astorapartments.com.au/wp-content/uploads/2019/05/comic-books-1000x675.jpg);">
  <div class="container">
    <h1>Welcome on Gossips to talk about others !</h1>
    <p>Change your life and trash talk about others.</p>
    <div class="container d-flex justify-content-center" style="margin-bottom: 20px; margin-top: 20px;"><%= link_to "New gossip", new_gossip_path, :class => "btn btn-info" %></div>
  </div>
</div>

<% if params[:action] == "create" %>
  <div class="container alert alert-success d-flex justify-content-center alert-dismissible fade show" role="alert">Succesfully saved !
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% elsif params[:action] == "destroy" %>
  <div class="container alert alert-success d-flex justify-content-center alert-dismissible fade show" role="alert">Succesfully deleted !
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<main class="container">
  <h3>Here's the gossip list :</h3>
  <p>Click on the gossip to learn more about it</p>
  <div class="row row-cols-5 d-flex justify-content-center">
    <% Gossip.all.sort.each do |gossip| %>
      <div class="card border-info text-center bg-light my-3 mx-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= gossip.user.first_name %></h5>
          <p class="card-text"><%= gossip.title %></p>
        </div>
        <div class="card-footer">
          <%= link_to "See more", gossip_path(gossip.id), class:"btn btn-outline-info mx-1 my-1" %>
          <%= link_to "Edit", edit_gossip_path(gossip.id), class:"btn btn-outline-success mx-1 my-1" %>
          <%= link_to "Delete", gossip_path(gossip.id), class:"btn btn-outline-danger mx-1 my-1", data:{confirm:"Sure you wanna delete ?", method:"DELETE"} %>
        </div>
      </div>
    <% end %>
  </div>
</main>




