<h1><%= @current_city.name %></h1>

<main class="container">
  <h3>Other gossips from this city</h3>
  <div class="row row-cols-5 d-flex justify-content-center">
    <% Gossip.all.each do |gossip| %>
      <% if gossip.user.city_id == @current_city.id %>
        <div class="card border-info text-center bg-light my-3 mx-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= gossip.user.first_name %></h5>
            <p class="card-text"><%= gossip.title %></p>
          </div>
          <div class="card-footer">
            <%= link_to "See more", gossip_path(gossip.id), class:"btn btn-outline-info" %>
            <%= link_to "Edit", edit_gossip_path(gossip.id), class:"btn btn-outline-success" %>
            <%= link_to "Delete", gossip_path(gossip.id), class:"btn btn-outline-danger", data:{confirm:"Sure you wanna delete ?", method:"DELETE"} %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div style="margin-top: 20px;"><%= link_to "Back home", root_path, :class => "btn btn-info" %></div>
</main>

